@(items: List[ShopListItem])

<!DOCTYPE html>

<html>
    <head>
        <title>Einkaufsliste</title>
    </head>
    <body>
    <h2>Inhalt der Einkaufsliste</h2>
    
    @if(items.isEmpty()) {
      <p>Die Einkaufsliste ist noch leer</p>
    }else{
      <div class="shoplistitems">
		    <table>
		    @for( i <- items ){
		    	<tr><td>@i.amount</td>
		    		<td>@i.name</td>
		    		<td>
		    			<form method="post" action="@i.name/delete">
		    				<button type="submit">Löschen</button>
		    			</form>
		    		</td>
		    	</tr>
		    }	
		    </table>
	     </div>
    }

    <div class="shoplistform">
    	<h2>Neuen Posten auf die Einkaufsliste</h2>
    	
    	<form method="post">
    		Menge: <input name="amount"  type="text">
    		Was: <input name="name"  type="text">
    		<button type="submit">Drauf!</button>
    	</form>
     </div>


    </body>
</html>