<!DOCTYPE html>

<html>
  <head><title>facebook Status Abfrage</title></head>
  <body>
	<h1>facebook Status Abfrage</h1>

<div id="fb-root"></div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '642364099161855',
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    console.log("## fb status: " +response.status);
    $("#fb-status").html("<b>Facebook Login Status:</b> " +response.status +"<br/><textarea cols='100' rows='20'>" +JSON.stringify(response) +"</textarea>");
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  

  /* get user profile using the graph API */
	function getUserInfo() {
	console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + '.');

      $("#fb-userinfo").html("<b>Facebook User Info:</b><br/> "  +JSON.stringify(response));
    });
  }

  function getLoginStatus(){
    FB.getLoginStatus(function(response) {
      $("#fb-status").html("<b>Facebook Login Status:</b> " +response.status +"<br/> "  +JSON.stringify(response));
   
 });


  }

</script>
<hr/>
User Info:<br>
<div id="fb-userinfo"></div>
<hr/>
Status:<br> 
<div id="fb-status"></div>

<hr/>
  <ul>
    <li><a href="#" onclick="getUserInfo()">Get Facebook UserInfo</a></li>
    <li><a href="#" onclick="getLoginStatus()">Get Facebook Login Status</a></li>
  </ul>
	
  </body>
</html>