
@page("WebSocket Beispiel") {

	<div id="messages" class="row">
		<br/>
		<div id="output" class="alert alert-success">some message</div>
	</div>

	<div id ="control" class="row">
	TODO: Spielfeld mit buttons. bei jedem click erhöht sich die Nr und akueller wird highlightet
		<button class="btn btn-primary">Start</button> <button class="btn btn-primary">Stop</button>
	</div>
	
 
 <script language="javascript" type="text/javascript">  
  	var wsUri = "ws://localhost:9000/websocket/ws"; 
  	var output;  
  	
  	function init() { 
  		output = document.getElementById("output"); 
  		testWebSocket(); 
  	}  
  	
  	function testWebSocket() { 
  	
  		websocket = new WebSocket(wsUri); 
  		websocket.onopen = function(evt) { onOpen(evt)  }; 
  		websocket.onclose = function(evt) { onClose(evt) }; 
  		websocket.onmessage = function(evt) { onMessage(evt) }; 
  		websocket.onerror = function(evt) { onError(evt) }; 
  		
  		alert("websocket initialized");
  		
  	}  
  	
  	function onOpen(evt) { 
  		writeToScreen("CONNECTED"); 
  		doSend("WebSocket rocks"); 
  	}  
  	
  	function onClose(evt) { 
  		writeToScreen("DISCONNECTED"); 
  	}  
  	
  	function onMessage(evt) { 
  		writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>'); 
  		websocket.close(); 
  	}  
  	
  	function onError(evt) { 
  		writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); 
  	}  
  	
  	function doSend(message) { 
  		writeToScreen("SENT: " + message);  websocket.send(message); 
  	}  
  	
  	function writeToScreen(message) { 
  		
  		var pre = document.createElement("p"); 
  		pre.style.wordWrap = "break-word"; 
  		pre.innerHTML = message; 
  		output.appendChild(pre); 
  	} 
  	
  	window.addEventListener("load", init, false);  
  	</script>  
  	
  
}
