@(title: String)(thingForm: Form[Thing], id: String)
@import tags._

@implicitField = @{ helper.FieldConstructor(bootstrapFormInput.f) }

@page(title) { 

    <div class="row"> 
    	<h2>Thing bearbeiten</h2>

	@if(thingForm.hasErrors) {
		<div class="alert alert-danger alert-dismissable">
	  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  		<strong>Eingabefehler</strong> Bitte Eingaben überprüfen
		</div>
	}
	
    @helper.form(
      action = routes.Things.save(id), 
      'id -> "thingform", 'class -> "form-horizontal", 'role ->"form") {
      		@helper.inputText(thingForm("name"), '_label -> "Name", '_showConstraints -> false, 'class ->"form-control")
			@helper.inputText(thingForm("what"), '_label -> "Was", '_showConstraints -> false,  'class ->"form-control")
			@helper.inputText(thingForm("longitude"), '_label -> "Längengrad", '_showConstraints -> false,  'class ->"form-control")
			@helper.inputText(thingForm("latitude"), '_label -> "Breitengrad", '_showConstraints -> false,  'class ->"form-control")
		<div class="form-group">
			      <button type="submit" class="btn btn-primary">Speichern</button>
		</div>
	}
    <form method="POST" action="@routes.Things.delete(id)"><button type="submit" class="btn btn-default">Löschen</button></form>
    
      </div>


}
