@(title: String)(things: Iterator[Thing])(count: Integer)(searchForm: Form[NearSearchParams])
@import tags._

@page(title) {

	<div class="row">
		<h3>Anzahl in der Nähe: @count</h3>
		Tipp: <a href="http://itouchmap.com/latlong.html" target="_blank">Koordinaten finden</a><br>
	</div>

	<div class="row">
		<div class="col-md-4 col-xs-12">
		 @helper.form(action = routes.Things.near(),  'id -> "searchform", 'class -> "form-horizontal", 'role ->"form") {
			@helper.inputText(searchForm("distance"), '_label -> "Max-Entfernung (m)", '_showConstraints -> false, 'class ->"form-control")
			@helper.inputText(searchForm("longitude"), '_label -> "Längengrad", '_showConstraints -> false,  'class ->"form-control")
			@helper.inputText(searchForm("latitude"), '_label -> "Breitengrad", '_showConstraints -> false,  'class ->"form-control")
			<div class="form-group">
			      <button type="submit" class="btn btn-default">Suchen</button>
		</div>
	}
	</div>
		<div class="col-md-8 col-xs-12">
		@thingtable(things)
		</div>
	</div>
 
 	<div class="row">
 		<a href="@routes.Things.showNew()" class="btn btn-primary">Neu anlegen</a>
	</div>
 
}
